/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add a hover effect for buttons */
.btn:hover {
    opacity: 0.8;
}

.back-button {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.share-button {
    width: 30px;
    height: 30px;
    margin-left: auto;
}

/* Comments Section */
.comments-section {
    margin-top: 2rem;
    border-top: 1px solid #373737;
    padding-top: 1rem;
    padding-inline: 1rem;
}

.comment {
    display: flex;
    margin-bottom: 1rem;
    padding: .5rem;
}

.comment-text {
    width: 100%;
}

.comment-author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comment-text {
    margin-left: 0.5rem;
}

.comment-input {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #242424;
}

.comment-input__field {
    background-color: #373737;
    border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    color: white;
}

.comment-button {
    display: block;
    padding-block: .4rem;
    padding-inline: .8rem;
    background-color: #ff6b35;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Related Posts */
.related-posts {
    margin-top: 2rem;
    border-top: 1px solid #373737;
    padding-top: 1rem;
}

.related-post {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #2d2d2d;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.related-post-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .post-content {
        max-width: 700px;
        margin: 0 auto;
    }
}
