.post-header {
    padding-block: .6rem;
    display: flex;
    gap: .5rem;
    h3 {
        color: #ffffff;
        font-size: .8rem;
    }
    small {
        color: #C5D0E6;
    }
}

.post-author {
    min-width: 20%;
    /*!*width: 3rem;*!*/
    /*flex-basis: 8rem;*/
}

.post-tags {
    padding-block: .5rem;
}

.post-content {
    padding-block: .5rem;
    p {
        color: #ffffff;
    }
}

.post-stats {
    display: flex;
    gap: .5rem;
    color: #999999;
}

.post-stats__item {
    display: flex;
    gap: .2rem;
    align-items: center;
    h5 {
        font-size: .8rem;
    }
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add a hover effect for buttons */
.btn:hover {
    opacity: 0.8;
}

.back-button {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.share-button {
    width: 30px;
    height: 30px;
    margin-left: auto;
}

/* Comments Section */
.comments-section {
    margin-top: 2rem;
    border-top: 1px solid #373737;
    padding-top: 1rem;
    h4 {
        color: #ffffff;
    }
}

.comment-card {
    display: flex;
    margin-bottom: 1rem;
    padding: .5rem;
}

.comment-text {
    width: 100%;
    p {
        color: #ffffff;
    }
    small {
        color: #C5D0E6;
    }
}

.comment-author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comment-text {
    margin-left: 0.5rem;
}

.comment-input {
    padding-inline: .5rem;
    padding-block: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #242424;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.comment-input__field {
    background-color: #373737;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: .75rem;
    padding-block: .45rem;
}

.comment-button {
    display: block;
    padding-block: .4rem;
    padding-inline: .8rem;
    background-color: #ff6b35;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .75rem;
}

.comment-stats {
    margin-top: .5rem;
    display: flex;
    gap: .5rem;
    color: #999999;
}

.comment-stats__item {
    display: flex;
    gap: .2rem;
    align-items: center;
    h5 {
        font-size: .8rem ;
    }
}

/* Responsive Design */
@media (min-width: 768px) {
    .post-content {
        max-width: 700px;
        margin: 0 auto;
    }
}
