body {
    background: #1E252B;
}

.loading {
    position: sticky;
    top: 0;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /*background-color: #2d2d2d;*/
    background-color: #262D34;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header h5 {
    color: #FF571A;
}

.header-icons {
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-search {
    flex: 1;
    margin: 0 1rem;
}

.header-search input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #373737;
    color: #ffffff;
    border-radius: 25px;
}

.header-icons {
    display: flex;
    gap: 1rem;
}

.header-icon {
    width: 30px;
    height: 30px;
}

.profile-logout {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 999;
}

.profile-logout a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.profile-icon:hover .profile-logout {
    display: block;
}

/* Main Content */
.main-content {
    padding: 1rem;
}

/* Content Cards */
.content-card {
    background-color: #262D34;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.content-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
        color: white;
    }
}

.content-card__body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.content-card-tags {
    color: #C5D0E6;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag {
    padding: 0.3rem 0.6rem;
    background-color: #2C353D;
    border-radius: 5px;
}

.content-card-stats {
    display: flex;
    gap: .4rem;
    /*justify-content: space-between;*/
    /*justify-content: space-between;*/
    margin-top: 1rem;
    color: #999999;
}

.vote-btn {
    padding: .5rem;
}

/* Responsive Design */
@media (min-width: 768px) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 1rem;
    }

    .sidebar {
        display: block;
        grid-column: 1 / 2;
    }

    .content-grid {
        grid-column: 2 / 3;
    }

    .right-sidebar {
        display: block;
        grid-column: 3 / 4;
    }
}
